.MainBanner__fix {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.MainBanner__fix::before {
  position: absolute;
  content: "";
  height: 100vh;
  width: 100vw;
  background: linear-gradient(135deg, rgba(222, 228, 140, 0.9) 10%, rgba(182, 96, 229, 0.7) 100%);
}

.letras {
  z-index: 1000;
  position: relative;
}

.main-logo {
  height: 100px;
}

.optional-logo {
  height: 100px;
}

@media only screen and (max-width: 768px) {
  .active {
    display: none !important;
  }
  .navbar-collapse {
    background-color: white;
    padding: 10px 0 30px 0 !important;
  }
  .navbar-collapse ul li {
    margin: 0 20px !important;
  }
  .navbar-collapse ul li ul {
    background-color: #fcfcfc !important;
    width: 100% !important;
    height: auto !important;
    margin-top: -5px !important;
  }
  .navbar-collapse ul li a {
    color: black !important;
  }
  .navbar-collapse .others-options a {
    background-color: #27b7d9 !important;
    color: white !important;
    margin-left: 0 !important;
  }
}

.navbar-nav .nav-item a.active {
  color: #fff !important;
}

.nav-item:hover a {
  background-color: #ff5d5b;
  color: #fff !important;
  border-radius: 20px;
  padding: 5px 15px !important;
  margin: -5px !important;
  animation: arcoiris 2s infinite;
}

.nav-item:last-child:hover a {
  margin-right: -15px !important;
}

.nav-item ul {
  background-color: transparent !important;
}

@media only screen and (max-width: 768px) {
  .nav .nav-item ul {
    background-color: rgba(255, 176, 1, 0.5) !important;
  }
}

.nav-item ul li {
  margin-bottom: 10px !important;
  background-color: #ff5d5b !important;
  width: 80%;
  border-radius: 20px !important;
}

.nav-item ul li a {
  background-color: #b660e5 !important;
  border-radius: 20px !important;
  color: white !important;
  margin: -5px -5px !important;
}

.nav-item ul li:last-child:hover a {
  margin-right: -5px !important;
}

.nav-item:last-child ul li:last-child:hover a {
  margin-right: -15px !important;
}

@keyframes arcoiris {
  0% {
    background-color: #ff5d5b;
  }
  20% {
    background-color: #f87443;
  }
  40% {
    background-color: #ffb001;
  }
  60% {
    background-color: #83c853;
  }
  80% {
    background-color: #27b7d9;
  }
}

.MainBanner__fix2 {
  height: 80vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.MainBanner__fix2::before {
  position: absolute;
  content: "";
  height: 80vh;
  width: 100vw;
  background: linear-gradient(135deg, rgba(222, 228, 140, 0.9) 10%, rgba(182, 96, 229, 0.7) 100%);
  top: 0;
  left: 0;
}

.letras2 {
  color: #000 !important;
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
}

.navbar-area {
  z-index: 2000 !important;
}

.main-banner-text {
  font-weight: 600 !important;
}

.maryan-img {
  height: 800px;
}

.glue-bottom {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.newsletter-form {
  margin-left: 0 !important;
}
/*# sourceMappingURL=newStyle.css.map */