.prenavPad {
  padding-left: 0;
  padding-right: 0;
}

#prenavbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 22px clamp(30px, 5vw, 50px);
  z-index: 1000;
  background: white;
}

#prenavbar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(90deg, #ff5d5b 16%, #ffb001 16%, #ffb001 33%, #83c853 33%, #83c853 50%, #f87443 50%, #f87443 66%, #27b7d9 66%, #27b7d9 83%, #b660e5 83%);
}

#prenavbar div {
  margin-left: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#prenavbar div span {
  min-width: max-content;
}

#prenavbar div a {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}

#prenavbar div a svg {
  height: 16px;
}

.navbar {
  height: 70px;
}

.main-nav a {
  color: #212529 !important;
}

.is-sticky .navbar {
  height: auto !important;
}

.MainBanner__fix {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.MainBanner__fix::before {
  position: absolute;
  content: "";
  height: 100vh;
  width: 100%;
  left: 0;
  background: linear-gradient(135deg, rgba(222, 228, 140, 0.9) 10%, rgba(182, 96, 229, 0.7) 100%);
  overflow: hidden;
}

.letras-title {
  z-index: 1000;
  position: relative;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 2rem;
  border-radius: 50px;
  box-shadow: #f87443 0px 0px 2px 0px;
}

.letras-title h1 {
  color: #b660e5 !important;
  text-shadow: #2a2a2a 2px 2px 0px;
}

.letras-title p {
  color: #fff !important;
  text-shadow: #333 1px 1px 1px;
}

.letras {
  z-index: 1000;
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 2rem;
  border-radius: 100%;
  height: 70vw;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.letras h1 {
  color: #b660e5 !important;
  text-shadow: #2a2a2a 2px 2px 0px;
}

.letras p {
  color: #fff !important;
  text-shadow: #333 1px 1px 1px;
}

.main-logo {
  max-height: 180px !important;
}

.optional-logo {
  height: 100px;
}

.navbar-nav .nav-item a.active {
  color: #fff !important;
}

.nav-item:hover a {
  background-color: #ff5d5b;
  color: #fff !important;
  border-radius: 20px;
  padding: 5px 15px !important;
  margin: -5px !important;
  animation: arcoiris 2s infinite;
}

.nav-item:last-child:hover a {
  margin-right: -15px !important;
}

.nav-item ul {
  background-color: transparent !important;
}

.nav-item ul li {
  margin-bottom: 10px !important;
  background-color: #ff5d5b !important;
  width: 80%;
  border-radius: 20px !important;
}

.nav-item ul li a {
  background-color: #b660e5 !important;
  border-radius: 20px !important;
  color: white !important;
  margin: -5px -5px !important;
}

.nav-item ul li:last-child:hover a {
  margin-right: -5px !important;
}

.nav-item:last-child ul li:last-child:hover a {
  margin-right: -15px !important;
}

@keyframes arcoiris {
  0% {
    background-color: #ff5d5b;
  }
  20% {
    background-color: #f87443;
  }
  40% {
    background-color: #ffb001;
  }
  60% {
    background-color: #83c853;
  }
  80% {
    background-color: #27b7d9;
  }
}

.MainBanner__fix2 {
  height: 80vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.MainBanner__fix2::before {
  position: absolute;
  content: "";
  height: 81vh;
  width: 100%;
  background: linear-gradient(180deg, rgba(182, 96, 229, 0.5) 50%, white 100%);
  top: 0;
  left: 0;
  overflow: hidden;
}

.letras2 {
  color: #fafafa !important;
  text-shadow: #2a2a2a 2px 2px 0px;
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
}

.navbar-area {
  z-index: 2000 !important;
}

.main-banner-text {
  font-weight: 600 !important;
}

.maryan-img {
  height: 800px;
}

.glue-bottom {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.navbar button {
  background-color: transparent !important;
}

.navbar-area {
  background-color: white !important;
  height: 74px;
  border-bottom: 3px #a8a8a8 dashed;
}

.testimonials-fix {
  height: 450px;
}

.video-gradiant-cover {
  position: relative;
}

.video-gradiant-cover::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background: #fbfbfb;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 50%, #fbfbfb 95%);
}

.bg-blurry {
  position: relative;
  z-index: 1;
  min-height: calc(100vh - 149px);
  display: flex;
  align-items: center;
}

.bg-blurry::before {
  content: "";
  background: linear-gradient(180deg, white 0%, #b660e5 70px, rgba(182, 96, 229, 0.8) 140px, rgba(182, 96, 229, 0.6) 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.z1000 {
  z-index: 1000 !important;
  position: inherit;
}

.main-services-area {
  text-align: center;
}

.services-area-title {
  margin-bottom: 4rem;
}

.single-main-services-box {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.single-main-services-box img {
  flex: 1;
  object-fit: cover;
}

@media only screen and (min-width: 992px) {
  .navbar-area {
    height: 88px;
    border-bottom: 4px #a8a8a8 dashed;
  }
  .bg-blurry {
    max-height: calc(100vh - 65px) !important;
  }
}

@media only screen and (max-width: 1024px) {
  .center-align {
    text-align: center;
  }
  .bg-blurry {
    min-height: calc(100vh - 43px) !important;
  }
}

@media only screen and (max-width: 959px) {
  .avioncito-left {
    display: none !important;
  }
  .avioncito-right {
    margin-bottom: 4rem;
  }
  .avioncito-center {
    padding: 6rem 2rem 4rem 2rem;
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  .grid-container {
    height: 60vh !important;
  }
}

@media only screen and (max-width: 767px) {
  .active {
    display: none !important;
  }
  .navbar-collapse {
    height: 110vh !important;
    max-height: fit-content !important;
    min-height: 100vh !important;
    padding: 10px 0 30px 0 !important;
    overflow-y: auto !important;
  }
  .navbar-collapse ul li {
    margin: 0 20px !important;
  }
  .navbar-collapse ul li ul {
    background-color: #fcfcfc !important;
    width: 100% !important;
    height: auto !important;
    margin-top: 5px !important;
    padding-top: 10px !important;
  }
  .navbar-collapse ul li a {
    color: black !important;
  }
  .navbar-collapse ul li ul li {
    margin-top: 15px !important;
    margin-bottom: 10px !important;
  }
  .navbar-collapse .others-options a {
    background-color: #27b7d9 !important;
    color: white !important;
    margin-left: 0 !important;
  }
  .navbar-area {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    height: 80px;
    border-bottom: 2px #a8a8a8 dashed;
  }
  .navbar-toggler {
    transform: translateY(-50%);
  }
  .nav .nav-item ul {
    background-color: rgba(255, 176, 1, 0.5) !important;
  }
  .nav-item ul li a {
    background-color: white !important;
    border: 2px solid #ff5d5b;
  }
  .nav-item:hover a {
    color: black !important;
  }
  .dropdown-menu {
    box-shadow: none !important;
    border: none !important;
    border-radius: 50px !important;
  }
  .white-nav {
    background-color: #fff !important;
    transition: 0s;
  }
  .letras-title {
    border-radius: 100%;
    height: 70vw;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-height: 70vh;
    max-width: 70vh;
  }
  .letras-title h1 {
    font-size: 42px;
  }
  .letras-title p {
    font-size: 16px;
  }
  .nav-shadow {
    filter: drop-shadow(1px 1px 0px black);
  }
  #prenavbar {
    padding: 12px clamp(30px, 5vw, 50px) !important;
  }
}

@media only screen and (max-width: 501px) {
  .prenavPad {
    padding-left: 0;
    padding-right: 0;
  }
  #prenavbar {
    background: linear-gradient(0deg, white 0%, #a8a8a8 100%) !important;
    padding: 10px 5px;
    justify-content: space-around;
  }
  #prenavbar div {
    margin-left: 0;
    font-size: clamp(0.35rem, calc(-0.45rem + 4.1vw), 1rem);
  }
  #prenavbar div a svg {
    height: 12px !important;
  }
  .bg-blurry {
    min-height: calc(100vh - 43px);
  }
}

.grid-container {
  display: grid;
  grid-gap: 2px;
  height: 80vh;
  aspect-ratio: 0.5;
  padding: 10px;
}

.grid-container :hover {
  background: #ffb001 !important;
  color: white !important;
  transform: scale(0.95) !important;
}

.grid-item {
  background-color: #ff5d5b;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
}

.item1 {
  grid-column: 2 / span 2;
  grid-row: 1;
}

.item2 {
  grid-column: 2 / span 2;
  grid-row: 2;
}

.item3 {
  grid-column: 1 / span 2;
  grid-row: 3;
}

.item4 {
  grid-column: 3 / span 2;
  grid-row: 3;
}

.item5 {
  grid-column: 2 / span 2;
  grid-row: 4;
}

.item6 {
  grid-column: 2 / span 2;
  grid-row: 5;
}

.avioncito-center {
  padding: 6rem 2rem 4rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.avioncito-left {
  display: flex;
  overflow: hidden;
  height: 80vh;
  flex: 1;
  flex-wrap: wrap;
  position: relative;
}

.avioncito-left img {
  opacity: 0.2;
}

.avioncito-right {
  display: flex;
  padding: 0 20px;
  height: 80vh;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.avioncito-right h2,
.avioncito-right h3,
.avioncito-right p {
  text-align: center !important;
}

.avioncito-right img {
  width: 20vw;
  opacity: 0.2;
}

.avioncito-kids1 {
  height: 200px !important;
  width: auto;
  animation-name: floating1;
  -webkit-animation-name: floating1;
}

.avioncito-kids2 {
  height: 125px !important;
  width: auto;
  animation-name: floating2;
  -webkit-animation-name: floating2;
}

.avioncito-kids3 {
  height: 150px !important;
  width: auto;
  position: absolute;
  top: 50%;
  animation-name: floating3;
  -webkit-animation-name: floating3;
  left: 50%;
  transform: translate(-50%, -50%);
}

.avioncito-kids4 {
  height: 125px !important;
  width: auto;
  animation-name: floating4;
  -webkit-animation-name: floating4;
}

.avioncito-kids5 {
  height: 100px !important;
  width: auto;
  animation-name: floating5;
  -webkit-animation-name: floating5;
}

.floating {
  position: absolute;
  animation-duration: 10s;
  -webkit-animation-duration: 10s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes floating1 {
  0% {
    transform: translate(0%, 0%) rotate(-40deg);
  }
  33% {
    transform: translate(10%, 100%) rotate(30deg);
  }
  66% {
    transform: translate(100%, 10%) rotate(-60deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(-40deg);
  }
}

@keyframes floating2 {
  0% {
    transform: translate(0%, 0%) rotate(0deg);
  }
  33% {
    transform: translate(-10%, -100%) rotate(30deg);
  }
  66% {
    transform: translate(-100%, -10%) rotate(-60deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(0deg);
  }
}

@keyframes floating3 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  12% {
    transform: translate(-50%, 0%) rotate(30deg);
  }
  24% {
    transform: translate(-50%, -50%) rotate(-20deg);
  }
  36% {
    transform: translate(0, -50%) rotate(0deg);
  }
  48% {
    transform: translate(-50%, -50%) rotate(20deg);
  }
  60% {
    transform: translate(-50%, -100%) rotate(0deg);
  }
  72% {
    transform: translate(-50%, -50%) rotate(-30deg);
  }
  84% {
    transform: translate(-100%, -50%) rotate(10deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

@keyframes floating4 {
  0% {
    transform: translate(0%, 0%) rotate(0deg);
  }
  25% {
    transform: translate(100%, -100%) rotate(30deg);
  }
  50% {
    transform: translate(10%, -100%) rotate(-60deg);
  }
  75% {
    transform: translate(100%, -10%) rotate(0deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(0deg);
  }
}

@keyframes floating5 {
  0% {
    transform: translate(0%, 0%) rotate(0deg);
  }
  25% {
    transform: translate(-100%, 100%) rotate(30deg);
  }
  50% {
    transform: translate(-10%, 10%) rotate(-60deg);
  }
  75% {
    transform: translate(-100%, 10%) rotate(0deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(0deg);
  }
}
/*# sourceMappingURL=newStyle.css.map */