// Colors
/////////////////////////////////@at-root

$morado: #b660e5;
$rojo: #ff5d5b;
$naranja: #f87443;
$amarillo: #ffb001;
$verde: #83c853;
$azul: #27b7d9;
$gris: #a8a8a8;
$grisoscuro: #333333;

$gradiant1: linear-gradient(
  135deg,
  rgba(rgb(222, 228, 140), 0.9) 10%,
  rgba($morado, 0.7) 100%
);
