// Colors
/////////////////////////////////@at-root

$blue: rgb(0, 117, 135);
$red: rgb(241, 109, 109);

$gradiant1: linear-gradient(
  135deg,
  rgba(rgb(140, 44, 191), 0.8) 20%,
  rgba(white, 0.2) 100%
);
